<!doctype html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= appName %></title>
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="@">
  <meta name="twitter:title" content ="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
</head>
<body>
  <h1><%= appName %></h1>
  <p>Go and start code!</p>

  <script src="assets/js/scripts.js"></script>
</body>
</html>